/* ---------------------- */
/* base */
/* ---------------------- */

html {
  font-size: 62.5%;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #fafaf2 !important;
  color: #1a508b !important;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans",
    "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #1a508b;
}

/* ---------------------- */
/* listItem */
/* ---------------------- */

.MuiListItemText-root {
  overflow-x: scroll;
}

/* ---------------------- */
/* Header */
/* ---------------------- */

.header__icon {
  display: inline-block;
  height: 3rem;
}

/* ---------------------- */
/* HomeScreen */
/* ---------------------- */

.home__icon {
  display: block;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
}

/* ---------------------- */
/* LoginScreen */
/* ---------------------- */

.login__icon {
  display: block;
  height: 10rem;
  width: 10rem;
  margin: 0 auto 2rem;
}

.login__form {
  padding: 5rem;
  margin: 0 auto;
}
